.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity, 0.5s;
  align-self: baseline;
}

.khan__buy-link:hover {
  opacity: 0.6;
}
